/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/07/13, 14:09:36
    Author     : s20163031
*/

table th, table td {
    border: solid 2px #3498db;    //線の色
    padding: 2px 4px;
    height: 2.5em;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}

.no{
    width: 3em;
    text-align: center;
}

.code{
    width: 9em;
    text-align: center;
}

.title{
    width: 18em;
    text-align: center;
}

.day{
    width: 18em;
    text-align: center;
}

.money{
    width: 8em;
    text-align: center;
}

.del{
    width: 5em;
    text-align: center;
}

p{
    margin: 0.5em 0 -0.01em;
    position:relative;
    left: 18em;
    font-size: 120%;
}

.subMenu{
    margin: 0 auto;
    text-align: center;
}
.button{
    margin: 1% 8%;
    width: 15%;
    height: 5em;
}

button{
    margin: 1% 8%;
    width: 15%;
    height: 5em;
}

.error{
    color: #FF0000;/*文字色*/
    margin: -0.1em 0;
    font-size: 150%;
    position:relative;
}

div#center{
    text-align: center;
}

div#delayDate{
    margin: 0.5em 0 -0.01em;
    position:relative;
    left: 18em;
    font-size: 120%;
}

.member{
    margin: 10em -0.38em 12em 0;
    text-align: center;
}

.header{
    width: 7em;
}

.val{
    width: 10em;
}

ul.set {
    display: block;
    position: relative;
    bottom: 8em;
    table-layout:fixed;
    width:80%;
    padding: 0.5em 1em;
    margin: 0 0 0 9.5em;
    height: 0;
}
ul.set li {
    display: inline-block;
}

.mon{
    margin: 0 0 12em 0;
    text-align: center;
}

.na{
    width: 7em;
    height: 3.9em;
}

.kane{
    width: 10em;
    height: 3.9em;
}

.syoke{
    position: relative;
    bottom: 19.1em;
    right: 0.4em;
    width: 11.7em;
    height: 10.1em;
}

.delbtn {
    font-size: 1.4em;
    color: #FFFFFF;
    padding: 0.2em 1.5em;
    font-weight: bold;
    background-color: #FF0000;
}

.updatescanbtn{
    display: none;
}