/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/07/20, 13:54:10
    Author     : s20163002
*/

.formtable {
/*    border-collapse: collapse;*/
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
}
.formtable td {
   border: solid 2px #3498db;   /*線の色*/
   padding: 2px 4px;
}

/*.formtable input{
    width: 40%;
}*/
/* ラジオボタンテーブルのスタイル(selectOneRadioはhtmlでtable扱いになる) */
.radiotable{
    border: none;
}
.radiotable td{
    border: none;
}


