/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/07/04, 10:09:30
    Author     : s20163002
*/

.main {
    display: table;
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 70px 0;
}

/* 外枠 */
.box {
    padding: 0.5em 1em;
    margin: 2em 2em;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    display: table-cell;
    width: 50%;
}

.box div {
    margin: 0 2em; 
    padding: 0;
}

button{
    margin: 6px 6px 6px 6px;
    width: 80%;
    height: 60px;
}

.leftbox{
    display: table;
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 5px 0;
}
.leftbox div{
    /*float: left;*/
    padding: 1em;
    /*vertical-align: middle;*/
    display: table-cell;
    width: 50%;
}

.rightbox button{
    margin: 6px 6px 6px 6px;
    width: 100%;
    height: 60px;
}
.boxcb{
    margin: 6px 6px 6px 6px;
    width: 80%;
    height: 60px;
}